<h1>Good day</h1>
<p>Thank you for reviewing my Metric Converter Web Assessment Solution, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
  <li><a href='https://dapper-tutorial.net/dapper/'>Dapper</a> for SQL ORM</li>
</ul>
<p>I've also set up <strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</p>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>

<p>The following list shows the original requirements provided for this project. Additionally I indicate whether that requirement has been met to some degree at least.</p>
<ol>
  <li>DONE - Create a WebAPI .Net Core API application for restful services.</li>
  <li>DONE - API application must use Nuget.</li>
  <li>DONE - API application needs to convert Metric units to Imperial units and vice versa.</li>
  <li>DONE - add more conversoins - API application must cater for at least 5 conversions including temperature (adding a conversation should be very extensible).</li>
  <li>DONE - Create another application using the latest version of Angular for a front-end for your project.</li>
  <li>Ensure that you have proper Unit (DONE) and Integration (WIP) testing on both applications.</li>
  <li>The API application, Angular application and database needs to run on their own docker containers respectively.</li>
  <li>Add all necessary scripts in order to deploy docker containers to Kubernetes environment.</li>
  <li>DONE - Upload your project into your own GIT Repo and share the project with us.</li>
  <li><strong>[Optional – extra points]</strong></li>
  <li>DONE - All user actions on the Angular frontend need to be stored in a relational database for auditing purposes (please include API’s for this purpose)</li>
  <li>Angular application must have a login page.</li>
  <li>DONE - Properly abstract your data layer, use an ORM and PostgreSQL (MSSQL also acceptable) as your database implementation.</li>
</ol>
